*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* nav bar  */
.navbar{
    display: flex;
    background-color:grey;
    overflow: hidden;
    flex-direction: row;
    justify-content: baseline;
    flex-grow: 1;
    z-index: 999;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar .menu li a:hover{
    color:red;
}

 .navbar .menu .li a:active{
     background-color: black;
    color: white;
 }

.navbar.sticky .menu li a:hover{
    color: #fff;
}

#randombtn{
    color:black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    border-radius: 10%;
    border: 3px solid black;
    background-color: #76b852;
}

/*  */
.block{
    align-content: center;
    align-items: center;
    text-align: center;
    border: #76b852;
}

.t{
}
p{
    text-align: center;
}
p1, p5,p9{
    color:red;
}