
html, body {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
body {
    background: linear-gradient(-45deg, #ee7752, purple, #23a6d5, #23d5ab, orange,grey,yellow);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* nav bar  */
.navbar{
 
    display: flex;
    /* background-color:grey; */
    overflow: hidden;
    flex-direction: row;
    justify-content: baseline;
    flex-grow: 1;
    z-index: 999;
    text-decoration: none;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar .menu li a:hover{
    color:white;
}

 .navbar .menu .li a:active{
     background-color: black;
    /* color: white; */
 }

/* name */
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-display:initial;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: black;
  text-align: center;
  padding: 20px 30px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color:grey; */
  border: none;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  color:red;
  outline: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color:rgba(143, 105, 105, 0.466); */
  
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block; 
  color: black;
  clear: left;
  text-align: center;
  width: 170px;
  background-color: rgb(240, 240, 240);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#form {
  height: 50px;
}


.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}

/* Header content & title & button*/
.header-content{
  margin-top:10%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
  
}
.header-content button:hover{
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}



